**/data
**/output
**/notes
**/TEST_*.py
**/__pycache__
**/.ipynb_checkpoints
**/.Rapp.history

# Hidden Files
*.Rproj.user
*.Rproj
*.Rhistory

# Other files
BMP070_aggregated_timeseries_plot.ipynb
Temperature_ggregated_timeseries_plot.ipynb